# ==========================================
# Java / Compiled Files
# ==========================================
*.class
*.log
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

# Executáveis / Heap Dumps
*.exe
*.dll
*.so
*.dylib
*.hprof

# ==========================================
# Build Tools
# ==========================================
# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml

# Gradle
.gradle/
build/
!gradle/wrapper/gradle-wrapper.jar
!**/src/main/**/build/
!**/src/test/**/build/

# ==========================================
# IntelliJ IDEA
# ==========================================
# Configurações do projeto e cache
.idea/
*.iml
*.iws
*.ipr

# Caso queira manter configurações de código compartilhadas da equipe na pasta .idea,
# comente a linha ".idea/" acima e descomente as linhas abaixo:
# .idea/*
# !.idea/compiler.xml
# !.idea/encodings.xml
# !.idea/modules.xml
# !.idea/misc.xml
# !.idea/vcs.xml
# !.idea/copyright/
# !.idea/scopes/
# *.iml

# ==========================================
# OS / System Specific
# ==========================================
# macOS
.DS_Store
.AppleDouble
.LSOverride
._*

# Windows
Thumbs.db
Thumbs.db:encryptable
ehthumbs.db
Desktop.ini
$RECYCLE.BIN/